{% extends "views/_base/base.html" %}

{% block navigation %}
	<nav class="cc-navigation">
        {# TODO: add link back to exercise #}
		<a href="/exercise-2" class="cc-back-link">← back to exercise 2</a>
	</nav>
{% endblock %}

{% block introduction %}
    <h1>Exercise 2 - Answer</h1>
{% endblock %}

{% block html %}
    <section class="cc-html-playground">
        <ul id="fruits" class="fruits">
            <li class="fruit" data-draggable draggable="true">Apple</li>
            <li class="fruit" data-draggable draggable="true">Banana</li>
            <li class="fruit" data-draggable draggable="true">Cherry</li>
            <li class="fruit" data-draggable draggable="true">Grape</li>
            <li class="fruit" data-draggable draggable="true">Kiwi</li>
            <li class="fruit" data-draggable draggable="true">Melon</li>
            <li class="fruit" data-draggable draggable="true">Orange</li>
            <li class="fruit" data-draggable draggable="true">Pear</li>
            <li class="fruit" data-draggable draggable="true">Strawberry</li>
        </ul>

        <ul data-target class="fruit-list"></ul>
    </section>
{% endblock %}

{% block styles %}
    <style type="text/css">
                :root {
            --default-spacing: 1rem;
        }
    
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        [draggable] {
            cursor: move;
        }

        .fruits {
            margin-bottom: var(--default-spacing);
        }

        .fruit {
            display: inline-block;
            margin-bottom: calc(var(--default-spacing) / 2);
            padding: var(--default-spacing);
            background-color: #0cafcd;
            border: 1px solid #009cba;
            border-radius: 4px;
            color: white;
        }

        .fruit:not(:last-child) {
            margin-right: calc(var(--default-spacing) / 2);
        }

        .fruit-list {
            margin-bottom: var(--default-spacing);
            min-height: 160px;
            padding: calc(var(--default-spacing) / 2);
            border: 2px solid currentColor;
            border-radius: 4px;
        }

        .fruit-list .fruit {
            background-color: #00b359;
        }

        .fruit-list.is-targeted {
          background-color: #E5FAFD;
          box-shadow: inset 0 0 6px currentColor;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script>
         
         var draggables = document.querySelectorAll('[data-draggable]');
        var target = document.querySelector('[data-target]');

        for (draggable of draggables) {
            draggable.addEventListener('dragstart', handleDragStart, false);
        }

        target.addEventListener('dragover', handleDragOver, false);
        target.addEventListener('dragenter', handleDragEnter, false);
        target.addEventListener('dragleave', handleDragLeave, false);
        target.addEventListener('drop', handleDrop, false);

        function handleDragStart(event) {
            var img = new Image();
            img.src = '/assets/images/yum.png';
            event.dataTransfer.setDragImage(img, 50, 50);
            
            event.dataTransfer.setData('text/plain', event.target.innerText);
        }

        function handleDragOver(event) {
            event.preventDefault();
        }

        function handleDragEnter(event) {
            event.target.classList.add('is-targeted');
        }

        function handleDragLeave(event) {
            event.target.classList.remove('is-targeted');
        }

        function handleDrop(event) {
            event.preventDefault();
            event.stopPropagation();
            
            var newItem = document.createElement('li');
            newItem.innerHTML = event.dataTransfer.getData('text/plain');
            newItem.classList.add('fruit');
            target.appendChild(newItem);
            event.target.classList.remove('is-targeted');
        }

    </script>
{% endblock %}