{% extends "views/_base/base.html" %}

{% block introduction %}
	{# TODO: add title and description of code class #}
	<h1>Drag and Drop API</h1>

	<p>The Drag and Drop API allows the user to 'grab' a draggable element with a mouse, drag the element to a droppable element, and drop it by releasing the mouse button</p>
{% endblock %}

{% block exercises %}
	<h2>Exercises</h2>

	<ul>
		<li><a href="/exercise-1">Exercise 1: Making elements draggable</a></li>
		<li><a href="/exercise-2">Exercise 2: User feedback</a></li>
		<li><a href="/exercise-3">Exercise 3: File Drag and Drop</a></li>
	</ul>
{% endblock %}

{% block presentation %}
	<h2>Presentation</h2>
	
	<div class="cc-presentation">
		<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQIEYPrsuKXhFwIvHgpnEut9z8hCo1XGQi2AkUMB9TeU-brlVgdP5yoX5NVoqudoxr1OYJVB9EX-kaV/embed?start=false&loop=false&delayms=60000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
	</div>
{% endblock %}

{% block stream %}
	<h2>Stream</h2>

	<div class="cc-stream">
		{# TODO: add url of YouTube stream #}
		<iframe width="560" height="315" src="[URL]" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
{% endblock %}
