{% extends "views/_base/base.html" %}

{% block navigation %}
	<nav class="cc-navigation">
		<a href="/" class="cc-back-link">← back to overview</a>
		<a href="/exercise-1-solution" class="cc-answer-link">see answer →</a>
	</nav>
{% endblock %}

{% block introduction %}
	<h1>Exercise 1: Making elements draggable</h1>

	<p>Make the fruits draggable, so the user can copy the fruits they like over to the drop list.</p>
{% endblock %}

{% block html %}
	<section class="cc-html-playground">
        <ul id="fruits" class="fruits">
            <li class="fruit" data-draggable>Apple</li>
            <li class="fruit" data-draggable>Banana</li>
            <li class="fruit" data-draggable>Cherry</li>
            <li class="fruit" data-draggable>Grape</li>
            <li class="fruit" data-draggable>Kiwi</li>
            <li class="fruit" data-draggable>Melon</li>
            <li class="fruit" data-draggable>Orange</li>
            <li class="fruit" data-draggable>Pear</li>
            <li class="fruit" data-draggable>Strawberry</li>
        </ul>

        <ul data-target class="fruit-list"></ul>
	</section>
{% endblock %}

{% block styles %}
    <style type="text/css">
        
        :root {
            --default-spacing: 1rem;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        [draggable] {
            cursor: move;
        }

        .fruits {
            margin-bottom: var(--default-spacing);
        }

        .fruit {
            display: inline-block;
            margin-bottom: calc(var(--default-spacing) / 2);
            padding: var(--default-spacing);
            background-color: #0cafcd;
            border: 1px solid #009cba;
            border-radius: 4px;
            color: white;
        }

        .fruit:not(:last-child) {
            margin-right: calc(var(--default-spacing) / 2);
        }

        .fruit-list {
            margin-bottom: var(--default-spacing);
            min-height: 160px;
            border: 2px solid currentColor;
            border-radius: 4px;
        }

        .fruit-list .fruit {
            background-color: #00b359;
        }
	</style>
{% endblock %}

{% block scripts %}
	<script>
		
	</script>
{% endblock %}